body {
  background-color: #f7ebebbd;
}

header {
  background-color: #f8f7f5bd;
}

/* Nav Bar */

.link-body-emphasis {
  color: #920200 !important;
}

.nav-link {
  color: #5c0303;
}

.nav-pills .nav-link.active {
  background-color: #5c0303;
}

/* Mobile Nav Bar */

.navbar-brand {
  color: #920200;
}

/* Buttons */
.btn-primary {
  background-color: #5c0303 !important;
  border-color: #5c0303 !important;
}

/* Jumbotron with the Page Name */
.bg-body-tertiary {
  background-color: #ffdd76e8 !important;
}

/* Footer */

.text-body-secondary {
  color: black !important;
}
